{% extends 'base.html' %}
{% block title %}
Ingredient List Page
{% endblock %}
{% block content %}


<div class="row" style="margin-top:20px; margin-left:20px">
  <div class="col-8">
    <h2>Available Ingredients for the Bartender</h2>
    
    <br>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <!-- Your Columns HERE -->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Percentage</th>
          <th scope="col">Pumpe</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for drink in drinks %}
        {% include 'includes/drink_modals.html' %}
        <tr>
          <td>{{ drink.id }}</td>
          <td>{{ drink.name }}</td>
          <td>{{ drink.description }}</td>
          <td>
            <button class="btn btn-outline btn-info" data-toggle="modal"
              data-target="#Modal-MoreInfo-{{ drink.id }}">More Info</button>
            <button class="btn btn-outline btn-success" data-toggle="modal"
              data-target="#Modal-PurchaseConfirm-{{ drink.id }}">Produce this Drink</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h2>Future Content</h2>
    <br>
    
    <br>
  </div>
</div>
{% endblock %}