<style>
    .modal-content {
        background-color: #212121
    }
    a {
        text-align: center;
    }
</style>

<!-- Drink More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ drink.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ drink.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>                  
                {% for ingredient in arr %}
                    <h4>{{ ingredient.name }}</h4>
                    <br>
                    <h5>Percentage:</h5>
                    <a>{{ ingredient.percentage }}</a>
                    <br>
                    <br>
                    <h5>Ratio:</h5>
                    <a>{{ map.ratio }}</a>
                {% endfor %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ drink.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- Caption -->
                    {{ drink.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {{ mix_form.hidden_tag() }}

                    <h4 class='text-center'>
                        Are you sure you want to drink {{ drink.name }}?
                    </h4>
                    <br>
                    <h6 class='text-center'>
                        By clicking "Mix it!", you will mix this drink.
                    </h6>
                    <br>
                    <input id="purchased_drink" name="purchased_drink" type="hidden" value="{{ drink.name }}">
                    {{ mix_form.submit_MixDrink(class='btn btn-outline-success btn-block') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Adding New Drink -->
<div class="modal fade" id="Modal-AddingDrink" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- Caption -->
                    Adding a new Drink
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {{ addDrink_form.hidden_tag() }}

                    <h4 class='text-center'>
                        Here you can add a new Drink to the list
                    </h4>
                    <br>
                    {{ addDrink_form.name.label() }}
                    {{ addDrink_form.name(class='form-control', placeholder='Name') }}
            
                    {{ addDrink_form.description.label() }}
                    {{ addDrink_form.description(class='form-control', placeholder='Description') }}
                    
                    {{ addDrink_form.ingredientChoice_1.label() }}
                    {{ addDrink_form.ingredientChoice_1(class='form-control', placeholder='First Ingredient') }}

                    {{ addDrink_form.ratio_1.label() }}
                    {{ addDrink_form.ratio_1(class='form-control', placeholder='Percentage of ratio in drink') }}

                    {{ addDrink_form.ingredientChoice_2.label() }}
                    {{ addDrink_form.ingredientChoice_2(class='form-control', placeholder='Second Ingredient') }}

                    {{ addDrink_form.ratio_2.label() }}
                    {{ addDrink_form.ratio_2(class='form-control', placeholder='Percentage of ratio in drink') }}
                    
                    {{ addDrink_form.ingredientChoice_3.label() }}
                    {{ addDrink_form.ingredientChoice_3(class='form-control', placeholder='Third Ingredient') }}

                    {{ addDrink_form.ratio_3.label() }}
                    {{ addDrink_form.ratio_3(class='form-control', placeholder='Percentage of ratio in drink') }}
                    <br>
                    <input id="added_drink" name="added_drink" type="hidden" value="{{ drink.name }}">
                    {{ addDrink_form.submit_AddDrink(class='btn btn-outline-success btn-block') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Adding New Drink -->
<div class="modal fade" id="Modal-AddingIngredient" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- Caption -->
                    Adding a new Ingredient
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {{ addIngredient_form.hidden_tag() }}

                    <h4 class='text-center'>
                        Here you can add a new Ingredient to the list
                    </h4>
                    <br>
                    {{ addIngredient_form.name.label() }}
                    {{ addIngredient_form.name(class='form-control', placeholder='Name') }}
            
                    {{ addIngredient_form.percentage.label() }}
                    {{ addIngredient_form.percentage(class='form-control', placeholder='...') }}
                    
                    {{ addIngredient_form.pump.label() }}
                    {{ addIngredient_form.pump(class='form-control', placeholder='GPIO-Pin Number') }}

                    <br>
                    <input id="added_ingredient" name="added_ingredient" type="hidden">
                    {{ addIngredient_form.submit_AddIngredient(class='btn btn-outline-success btn-block') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Drink Confirmation -->
<div class="modal fade" id="Modal-DeleteDrinkConfirm-{{ drink.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- Caption -->
                    Delete?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {{ deleteDrink_form.hidden_tag() }}

                    Do you really want to delete {{ drink.name }}?
                    <br>
                    To delete the Drink type <b>{{ drink.name }}</b>
                    <br>
                    {{ deleteDrink_form.name.label() }}
                    {{ deleteDrink_form.name(class='form-control', placeholder='Name') }}
                    <br>
                    <input id="deleted_drink" name="deleted_drink" type="hidden">
                    {{ deleteDrink_form.submit_DeleteDrink(class='btn btn-outline-danger btn-block') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Wash Confirm -->
<div class="modal fade" id="Modal-Wash" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- Caption -->
                    Wash?

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {{ wash_form.hidden_tag() }}

                    <h4 class='text-center'>
                        Are you sure you want to wash all pumps?
                    </h4>
                    <br>
                    <input id="wash" name="wash" type="hidden">
                    {{ wash_form.submit_Wash(class='btn btn-outline-success btn-block') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>